@model List<Tag>
<div class="card">
    <div class="card-header">
        <h5>Tags</h5>
        </br>
        <a asp-action="create" asp-controller="tag" class="btn btn-primary mt-3">Create</a>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Tag Name</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody id="tagList">
                  <partial name="_Body" model="@Model" />
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function removeTag(id, name) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("remove", "tag")",
                        data: { id, name },
                        success: (result) => {
                            if (!result.error) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: result.message,
                                    icon: "success"
                                });
                                $("#tagList").html(result)

                                return;
                            }
                            Swal.fire({
                                title: "Not Deleted!",
                                text: result.message,
                                icon: "error"
                            });
                        },
                        error: (error) => {
                            Swal.fire({
                                title: "Error",
                                text: "",
                                icon: "error"
                            });
                        }
                    });
                }
            });
        }

    </script>
}





                                